.layout{
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f5f5f5;
  margin-top: 40px;
}


.nav-buttons{
  justify-content: left;
  margin-top: 50px;
  margin-right: 50px;
}

.nav-buttons button{
  margin-bottom: 25px;
}

.error{
  color: red;
}

.delete-header{
  margin-top: 20px;
}