.listing {
    background: var(--accent-color);
    border-radius: 30px;
    padding-bottom: 30px;
  }
  
  .listing-heading {
    color: var(--primary-color);
    padding: 10px 20px 0 20px;
  }
  
  .thumbnail-container{
    display: flex;
    justify-content:center;
  }
  
  .thumbnail {
    height: auto;
    width: 250px;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 0px 0px 0px transparent; /* Initially transparent box shadow */
    transition: box-shadow 0.3s; /* Add a smooth transition for the box shadow */
  }

  .thumbnail:hover{
    box-shadow: 0 0 10px 5px rgba(0, 123, 255, 0.5); /* Blue aura on hover */
  }

  .details{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}
  