.layout{
  margin-bottom: 100px;
}
.row {
  display: flex;
  align-items: flex-start;
}

.profile-pic{
  margin-left: 50px;
  width: 100px;
  height: 100px;
  border-radius: 50%; 
  object-fit: cover;
}

.listing-description {
  flex-grow: 1;
}

.host-location{
  margin-left: 5px;
}

.listing-block {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 12px; 
  margin-top: 20px;
  margin-bottom: 20px;
  height: 80px;
}

.logout a {
  color: blue; 
  text-decoration: underline;
  cursor: pointer;
}

.calendar{
  margin-top: 40px;
  font-weight: normal;
  height: auto;
  width: 200px;
}

.book-button{
  margin-left: 425px;
  width: 105px;
  height: auto;
}

.total-cost{
  font-weight: normal;
}

.property-image{
  width: 12%;
  height: auto;
}

.tenant-group{
  width: 200px;
  margin-top: -40px;
}



.book{
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 12px;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.price{
  font-weight: normal;
}
.ratings{
  margin-left: 380px;
}

.image{
  width: 25%;
  height: auto;
  vertical-align: middle;
}
.house-accomodates{
  vertical-align: middle;
}

.transit{
  margin-left: 20px;
}

.beds {
  /* Add any styles you want for the bedrooms-beds span */
  margin-left: 39px; /* Optional: Add some spacing between the image and the labels */
}

.image-container {
  position: relative;
  display: flex;
  align-items: left;
}

.host-name{
  font-weight: normal;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.submit-buttons{
  margin-left: 40px;
}

.submit-button-2{
  margin-left: 10px;
}

.reviews-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.review-box{
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 12px;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}


.reviews{
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 12px;
  width: 340px;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.review-contents{
  margin-left: 20px;
}

.review-comments{
  margin-top: 20px;
}


.reviewer-name{
  font-weight: normal;
}

.review-rating{
  font-weight: bold;
}

.rating-container {
  position: relative;
  width: 50px;
  height: auto;
  
}

.review-button{
  margin-top: 180px;
  margin-left: 110px;
  width: 150px;
  height: auto;
}

.review-header{
  margin-top: 20px;
  margin-bottom: 20px;
}

.rating-arrow {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #aaa;
  pointer-events: none;
}

.rating-container:hover .rating-arrow{
  transform: translateY(-50%) rotateX(180deg);
}

.date{
  font-size: small;
  margin-left: 100px;
}

.error{
  color: red;
}
.maps-link{
  height: auto;
  width: 20px;
}

.logout{
  margin-top: 30px;
}
.image-wrapper {
  position: relative;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
  transition: box-shadow 0.3s ease;
  border-radius: 12px;
}

.image-wrapper:hover .right-button,
.image-wrapper:hover .left-button {
  opacity: 1; /* Show the buttons on hover */
  background-color: #0d6efd;
}

.image-wrapper:hover {
  box-shadow: 0 0 10px 5px rgba(0, 123, 255, 0.5); /* Blue aura on hover */
}


.navigation-buttons {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.left-button,
.right-button {
  background-color: transparent;
  border: transparent;
  opacity: 0;
  transition: background-color 0.3s ease; /* Add a transition effect for smooth color change */
}

.right-button:hover,
.left-button:hover{
  background-color: #0b5ed7;
}