.center-container {
    display: flex;
    justify-content: center;
  }

  .custom-row-width {
    width: 1200px; /* Set the desired width */
    margin: 0 auto; /* Center the row within its parent container */
  }

  .host-general{
    height: 400px;
  }

  .host-info-col{
    height: 400px;
  }

.properties{
  width: 250px;
  height: auto;
  margin-top: 20px;
}

.general{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 12px;
    height: 250px;
    width: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.certs{
  margin-top: 40px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 12px;
  height: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image{
  width: 25%;
  height: auto;
  vertical-align: middle;
}

.host-info{
  vertical-align: middle;
}

.listing-block {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 12px; 
  margin-top: 20px;
  margin-bottom: 20px;
  height: 80px;
}

.host-location{
  margin-left: 5px;
}

.maps-link{
  height: auto;
  width: 20px;
}

.profile-pic{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 50%; 
    object-fit: cover;
  }

  .host-center{
    margin-left: 40px;
  }

  .misc{
    margin-top: 20px;
  }

  .etc{
    text-align: right;
  }

  
.reviews-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.review-box{
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 12px;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}


.reviews{
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 12px;
  width: 400px;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.review-contents{
  margin-left: 20px;
}


.reviewer-name{
  font-weight: normal;
}

.review-rating{
  font-weight: bold;
}