.preview-house {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.preview-house h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.preview-house p {
  margin-bottom: 5px;
}

.preview-house a {
  color: blue;
  text-decoration: underline;
}

.preview-house a:hover {
  text-decoration: none;
}

.buttons{
  justify-content: left;
  margin-top: 50px;
  margin-right: 50px;
}

.add-house{
  margin-bottom: 10px;
}
.buttons button{
  margin-bottom: 25px;
}

.profile-col {
  display: block;
  width: auto;
  height: auto;
}

.layout{
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f5f5f5;
}

.houses-container{
  margin-top: 75px;
}