.row {
  display: flex;
  align-items: flex-start;
}

.listing-description {
  flex-grow: 1;
}

.listing-block {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 12px; 
  margin-top: 20px;
  margin-bottom: 20px;
  height: 80px;
}

.image{
  width: 25%;
  height: auto;
  vertical-align: middle;
}
.house-accomodates{
  vertical-align: middle;
}

.transit{
  margin-left: 20px;
}

.beds {
  /* Add any styles you want for the bedrooms-beds span */
  margin-left: 39px; /* Optional: Add some spacing between the image and the labels */
}

.image-container {
  position: relative;
  display: flex;
  align-items: left;
}

.host-name{
  font-weight: normal;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}


.image-wrapper {
  position: relative;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
  transition: box-shadow 0.3s ease;
  border-radius: 12px;
}

.image-wrapper:hover .right-button,
.image-wrapper:hover .left-button {
  opacity: 1; /* Show the buttons on hover */
  background-color: #0d6efd;
}

.image-wrapper:hover {
  box-shadow: 0 0 10px 5px rgba(0, 123, 255, 0.5); /* Blue aura on hover */
}


.navigation-buttons {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.left-button,
.right-button {
  background-color: transparent;
  border: transparent;
  opacity: 0;
  transition: background-color 0.3s ease; /* Add a transition effect for smooth color change */
}

.right-button:hover,
.left-button:hover{
  background-color: #0b5ed7;
}