.listing {
  background-color: #f5f5f5;
  padding: 20px;
  margin-bottom: 20px;
}

.listing-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.thumbnail {
  width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 0px transparent; /* Initially transparent box shadow */
  transition: box-shadow 0.3s; /* Add a smooth transition for the box shadow */
}

.thumbnail:hover {
  box-shadow: 0 0 10px 5px rgba(0, 123, 255, 0.5); /* Blue aura on hover */
}

.listing-location {
  margin-bottom: 10px;
}

.header{
  margin-bottom: 20px;
}

.property-link {
  display: inline-block;
  margin-right: 10px;
  color: white;
  padding: 10px;
  border: 1px solid #0d6efd;
  background: none;
  background-color: #0d6efd;
  border-radius: 4px; /* Add border-radius to make the edges less sharp */
  text-decoration: none; /* Remove default underline for better appearance */
  transition: background-color 0.3s, color 0.3s; /* Add smooth transition effects */
}

.property-link:hover {
  text-decoration: none;
  background-color: #0b5ed7;
  border-color: #0b5ed7;
}

.maps-link{
  height: auto;
  width: 20px;
}


.deletecheck {
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffe6e6;
  border: 1px solid #ffcccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.message {
  color: red;
  margin-bottom: 5px;
}

.delete-button {
  justify-content: center;
  cursor: pointer;
  margin-right: 20px;
}

.delete-button.red {
  background-color: red;
}
